<div class="admin-login" >
    <div class="login-form" >
        <h2>ADMIN LOGIN</h2>
        <form action="">
            <label for="" class="form-label">Username</label>
            <input type="text" class="form-control">
            <label for="" class="form-label">Password></label>
            <input type="password" class="form-control">
        </form>
    </div>
</div>