<div class="banner">
    <h1 class=" heading">RAJAGIRI PUBLIC SCHOOL</h1>
    <h3 class="sub-heading" > Student Elections </h3>
    <a href="/vote" class="btn btn-primary" id="get-started">Cast Your Vote</a>
</div>