

<div class="container">
   {{!-- SCHOOL LEADER --}}

      <form action="/" method="POST">

   <div class="row" style="margin-top: 50px; display: flex;" id="schoolCaptRow">
   
      <h1 class="vote-heading"> <b> SCHOOL CAPTAIN</b> </h1>
   
      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="schoolCapt" value="Nizam Salim" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Nizam Salim
               </div>
            </div>
         </label>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="schoolCapt" value="Saahil Rajesh" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Saahil Rajesh
               </div>
            </div>
         </label>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="schoolCapt" value="Arun M Sanil" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Arun M Sanil
               </div>
            </div>
         </label>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="schoolCapt" value="Dheeraj Sunil" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Dheeraj Sunil
               </div>
            </div>
         </label>
      </div>
   </div>

   {{!-- ASST SCHOOL CAPT --}}
   <div class="row" style="margin-top: 50px; display: none;" id="asstCaptRow">
   
      <h1 class="vote-heading"> <b>ASSISTANT SCHOOL CAPTAIN</b> </h1>
   
      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="asstSchoolCapt" value="Anakha Anilkumar" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Anakha Anilkumar
               </div>
            </div>
         </label>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="asstSchoolCapt" value="Preethi Sunil" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Preethi Sunil
               </div>
            </div>
         </label>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="asstSchoolCapt" value="Keerthi Nair" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Keerthi Nair
               </div>
            </div>
         </label>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="asstSchoolCapt" value="Lakshmi Nandana" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Lakshmi Nandana
               </div>
            </div>
         </label>
      </div>
   </div>
   

   {{!-- SPORTS CAPT --}}

   <div class="row" style="margin-top: 50px; display: none;" id="sportsCaptRow">
   
      <h1 class="vote-heading"> <b>SPORTS CAPTAIN</b> </h1>
   
      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="sportsCapt" value="Eapen Andrews" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Eapen Andrews
               </div>
            </div>
         </label>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="sportsCapt" value="Shaun Benjamin" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Shaun Benjamin
               </div>
            </div>
         </label>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="sportsCapt" value="Neha Nellissery" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Neha Nellissery
               </div>
            </div>
         </label>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-4">
         <label>
            <input type="radio" name="sportsCapt" value="Lakshmi Priya" class="card-input-element" />
            <div class="panel panel-default card-input  " >
               <div class="panel-heading"> <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv3XrKcL6M03LnzvnekFsGCfNggG2hQNNumje4TXay1I0M-dkAUF6orxDGqO8mYEslj8U&usqp=CAU" alt=""> </div>
               <div class="panel-body text-center name">
                  Lakshmi Priya
               </div>
            </div>
         </label>
      </div>
         <div class="submit-btn d-flex justify-content-end" style="margin-top: 100px;">
            <input type="submit" value="Submit Your Votes" class="btn btn-success">
         </div>



   </div>



   

        

   
   
   
   
   
   
      
      

         
      </form>
  


            
      
      
      
      
      
      
      
      \
      
      <div class="w-100" style="display: flex;justify-content: space-between;margin-top: 50px;" >
         <button id="schoolCaptButton" class="btn btn-primary w-25 me-3" >School Captain</button> 
         <button id="asstSchoolCaptButton" class="btn btn-primary w-25 me-3" >Assistant School Captain</button> 
         <button id="sportsCaptButton" class="btn btn-primary w-25 me-3" >Sports Captain</button> 
       </div>
</div>

<script>
   $(document).ready(()=>{
      $("#schoolCaptButton").click(()=>{
         $("#schoolCaptRow").show()
         $("#asstCaptRow").hide()
         $("#sportsCaptRow").hide()
         $("#houseCaptRow").hide()
      })
      $("#asstSchoolCaptButton").click(()=>{
         $("#schoolCaptRow").hide()
         $("#asstCaptRow").show()
         $("#sportsCaptRow").hide()
         $("#houseCaptRow").hide()
      })
      $("#sportsCaptButton").click(()=>{
         $("#schoolCaptRow").hide()
         $("#asstCaptRow").hide()
         $("#sportsCaptRow").show()
         $("#houseCaptRow").hide()
      })
      $("#houseCaptButton").click(()=>{
         $("#schoolCaptRow").hide()
         $("#asstCaptRow").hide()
         $("#sportsCaptRow").hide()
         $("#houseCaptRow").show()
      })
   });

   let something = document.querySelectorAll('.radioInp');
   console.log(something[0])
</script>
